<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pab.framework.crawlerdb.dao.CrawlerNewsMilestoneDao">
    <select id="findUrlAddrsByNewDate" resultType="string" parameterType="int">
        select url_addr from crawler_news_milestone
        <where>action_id=#{action_id} and crawler_date=(select max(crawler_date) from crawler_news_milestone)</where>
    </select>
    <insert id="insertAll" parameterType="com.pab.framework.crawlerdb.domain.CrawlerNewsMilestone">
        insert into crawler_news_milestone(action_id,url_addr,crawler_date)values(#{action_id},#{url_addr},now())
    </insert>
    <select id="isExistsUrl" parameterType="com.pab.framework.crawlerdb.domain.CrawlerNewsMilestone" resultType="int">
        select count(1) from crawler_news_milestone
        <where>
            url_addr=#{url_addr} and action_id=#{action_id} and crawler_date=(select max(crawler_date) from
            crawler_news_milestone)
        </where>
    </select>
    <select id="findUrlAddrsByCrawl"  resultType="string">
      select a.url_addr url_addr from  crawler_news_milestone a join crawler_action_dynamic_info b on a.action_id=b.action_id
      where a.url_addr=b.url_addr;
    </select>
</mapper>
