<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pab.framework.crawlerdb.dao.CrawlerContentDao">
    <delete id="deleteByActionIdAndCrawlerDate">
        delete from crawler_content where action_id=#{actionId} and crawler_date = #{crawlerDate}
    </delete>
    <delete id="deleteByCrawlerDate">
        delete from crawler_content where crawler_date &lt; #{crawlerDate}
    </delete>
    <insert id="save" parameterType="com.pab.framework.crawlerdb.domain.CrawlerContent">
        insert into crawler_content(action_id, action_type, crawler_date, content)
        values  (#{actionId}, #{actionType}, #{crawlerDate},#{content})
    </insert>
    <select id="findByActionIdAndCrawlerDate" resultType="com.pab.framework.crawlerdb.domain.CrawlerContent">
        select action_id, action_type, crawler_date, content from crawler_content
        where action_id = #{actionId}
        and crawler_date = #{crawlerDate}
    </select>

    <select id="findByActionTypeAndCrawlerDate" resultType="com.pab.framework.crawlerdb.domain.CrawlerContent">
        select action_id, action_type, crawler_date, content from crawler_content
        where action_type = #{actionType}
        and crawler_date = #{crawlerDate}
    </select>
    <select id="CountNum"  resultType="int">
        select count(*) from crawler_content
        where action_type = #{actionType}
        and crawler_date = #{crawlerDate}        
    </select>
    <select id="findForPage" resultType="com.pab.framework.crawlerdb.domain.CrawlerContent">
        select action_id, action_type, crawler_date, content from crawler_content
        where action_type = #{actionType}
        and crawler_date = #{crawlerDate}
        order by action_id
        limit #{pageBegin},#{pageCount}
    </select>
</mapper>
