<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pab.framework.crawlerdb.dao.CrawlerActionInfoDao">
    <resultMap id="crawlerActionInfo" type="com.pab.framework.crawlerdb.domain.CrawlerActionInfo">
        <result column="action_id" jdbcType="INTEGER" property="actionId"/>
        <result column="action_desc" jdbcType="VARCHAR" property="actionDesc"/>
        <result column="action_type" jdbcType="INTEGER" property="actionType"/>
        <result column="url_type" jdbcType="INTEGER" property="urlType"/>
        <result column="url_addr" jdbcType="VARCHAR" property="urlAddr"/>
        <result column="base_url_addr" jdbcType="VARCHAR" property="baseUrlAddr"/>
        <result column="crawler_regex" jdbcType="VARCHAR" property="crawlerRegex"/>
    </resultMap>
    <select id="findCrawlerActionInfo" resultMap="crawlerActionInfo" parameterType="int">
        select action_id, action_desc, action_type, url_type, url_addr, base_url_addr, crawler_regex from
        crawler_action_info
        where action_id=#{actionId}
    </select>

    <select id="findCrawlerActionInfos" resultMap="crawlerActionInfo">
        select action_id, action_desc, action_type, url_type, url_addr, base_url_addr, crawler_regex from
        crawler_action_info
        <where>action_id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        </where>
    </select>

    <select id="findFlowId" resultType="int">
      select flow_id from crawler_flow_detail
      where action_id=#{actionId}
    </select>
</mapper>


