<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pab.framework.crawlerdb.dao.CrawlerFlowDetailDao">
    <resultMap id="crawlerFlowDetail" type="com.pab.framework.crawlerdb.domain.CrawlerFlowDetail">
        <result column="flow_id" jdbcType="INTEGER" property="flowId"/>
        <result column="action_id" jdbcType="INTEGER" property="actionId"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
    </resultMap>
    <select id="findAll" resultMap="crawlerFlowDetail" parameterType="int">
        select flow_id, action_id,order_num from crawler_flow_detail order by order_num
    </select>
    <select id="findAllByFlowId" resultMap="crawlerFlowDetail" parameterType="int">
        select flow_id, action_id,order_num from crawler_flow_detail where flow_id=#{flowId} order by order_num
    </select>
    <select id="findNextAction" resultMap="crawlerFlowDetail" parameterType="int">
        select flow_id, action_id,order_num from crawler_flow_detail
        where flow_id =
        (select flow_id from crawler_flow_detail where action_id = #{actionId})
        and order_num =
        (select order_num+1 from crawler_flow_detail where action_id = #{actionId})
    </select>
    <select id="findFlowIdByActionId" resultType="int" parameterType="int">
        select flow_id from crawler_flow_detail
        where action_id = #{actionId}
    </select>

</mapper>
