<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pab.framework.crawlerdb.dao.CrawlerMilestoneDao">
    <select id="findMilestoneByActionId" resultType="string" parameterType="int">
        select milestone from crawler_milestone
        where action_id=#{actionId}
        and crawler_date=(select max(crawler_date) from crawler_milestone)
        limit 1
    </select>
    <insert id="save" parameterType="com.pab.framework.crawlerdb.domain.CrawlerMilestone">
        insert into crawler_milestone(action_id,crawler_date,milestone)
        values (#{actionId},#{crawlerDate},#{milestone})
        on duplicate key update milestone=#{milestone};
    </insert>
</mapper>
